:root {
  --blue-primary: #23A6F0;
  --color-secondary: #23856D;
  --color-secondary-button: #2DC071;
  --color-alert: #E77C40;
  --color-alert2: #E74040;
  --text-color: #252B42;
  --second-text-color: #737373;
  --background-color: #fafafa;
  --font-primary: 'Montserrat', sans-serif;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  color: var(--second-text-color);
}

address p {
  font-style: normal;
  padding: 0.8rem;
}

.title-section {
  color: var(--text-color);
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 1rem;
  padding: 0 2rem;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
}

a {
  text-decoration: none;
  color: var(--second-text-color);
}

.top-bar {
  display: none;
}

header {
  display: inline;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.menu-desktop {
  display: none;
}

.menu-mobile {
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  padding: 0.3rem 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.menu-icons {
  display: flex;
  padding: 1rem 2rem;
  gap: 1.4rem;
}

.menu-icons button {
  border: none;
  background: none;
  cursor: pointer;
}

.menu-icons svg {
  color: var(--text-color);
  width: 1.9rem;
  height: 1.9rem;
}

.mobile-nav {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mobile-nav.show {
  max-height: 400px;
  opacity: 1;
}

.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.mobile-nav li {
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 590;
}

/*banner/carrossel*/
.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 800px;
}

.banner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.banner-content {
  position: relative;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  margin: 0 auto;
}

.slide-left {
  transform: translateX(-100%);
}

.slide-right {
  transform: translateX(100%);
}

.slide-active {
  transform: translateX(0);
}

.summer {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  padding: 1rem;
}

.banner-content h2 {
  font-size: 2.1rem;
  font-weight: bold;
  padding: 1rem;
  text-transform: uppercase;
}

.text-banner {
  font-size: 25px;
  padding: 3em;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.banner-content h2:first-of-type {
  font-size: 1.2em;
  letter-spacing: 0.1rem;
}

.banner-content h2:last-of-type {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.banner-btn {
  border: none;
  font-size: 2em;
  padding: 1rem 2.5rem;
  background-color: var(--color-secondary-button);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.4s ease, box-shadow 0.4s ease;
}

.banner-btn:hover {
  background-color: #28a745; 
  transform: scale(1.05); 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); 
}

.banner-btn:active {
  transform: scale(0.95); 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #ffffff;
  font-size: 6rem;
  cursor: pointer;
}

#btn-ant {
  left: 0.1rem;
}

#btn-next {
  right: 0.1rem;
}

.fade {
  opacity: 0;
  transition: 0.8s ease-in-out;
}

.banner img,
.banner-content h2,
.text-banner {
  opacity: 1;
  transition: 0.8s ease-in-out;
}

/*categorias*/
.editors-pick {
  text-align: center;
  padding: 2rem;
}

.description {
  font-size: 0.9rem;
  margin-bottom: 3rem;
  padding: 0 4.5rem;
}

.pick-categories {
  display: grid;
  gap: 1.5rem;
}

.category {
  position: relative;
  overflow: hidden;
}

.category img {
  width: 100%;
  height: auto;
  transition: 0.7s;
}

.category img:hover {
  opacity: 80%;
}

.text-category {
  color: var(--text-color);
  position: absolute;
  bottom: 10px;
  left: 10%;
  background-color: #ffffff;
  padding: 1rem 4rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.05em;
  font-weight: bold;
}

/*produtos*/
.featured-products {
  text-align: center;
  margin-top: 3rem;
}

.featured-products p:first-child {
  font-size: 20px;
}

.featured-products .product-list {
  display: grid;
  justify-content: center;
  gap: 5rem;
}

.product-item img {
  width: 100%;
  height: auto;
}

.product-item h4 {
  color: var(--text-color);
  font-size: 1rem;
  margin-top: 2rem;
}

.product-item p:first-of-type {
  font-size: 0.9rem;
  margin: 1rem;
}

.product-item p:last-of-type {
  font-size: 1rem;
  margin: 1.2rem;
}

.original-price {
  color: var(--color-secondary)
}

.color-options {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.color-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.color-dot-blue {
  background-color: var(--blue-primary);
}

.color-dot-green {
  background-color: var(--color-secondary);
}

.color-dot-orange {
  background-color: var(--color-alert);
}

.color-dot-marinho {
  background-color: var(--text-color);
}

/*segundo banner/carrossel*/
.banner2 {
  margin-top: 5rem;
  background-color: var(--color-secondary);
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 1000px;
  overflow: hidden;
}

.banner2 h2:first-child {
  text-transform: uppercase;
  margin-top: 10rem;
}

.banner2 .product-title {
  font-size: 2.5rem;
  padding: 1rem;
  max-width: 400px;
}

.banner2 p {
  font-size: 1.5rem;
  max-width: 300px;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 2rem;
}

.banner2 .price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.banner2 button:last-of-type {
  font-size: 1rem;
}

#next {
  left: 0.1rem;
}

#ant {
  right: 0.1rem;
}

.banner2 img {
  position: static;

  width: auto;
  height: 480px;
}

/* banner 3*/
.banner3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}

.banner3-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.banner3 h2:first-child {
  text-transform: uppercase;
  color: var(--second-text-color);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 4rem;
}

.banner3 h2 {
  font-size: 2.5rem;
  color: var(--text-color);
  padding: 0 4rem;
  margin: 1.8rem;
}

.banner3 p {
  text-align: center;
  font-size: 1.4rem;
  margin: 1rem 0 2rem;
  max-width: 300px;
  font-weight: 550;
}

.banner3 img {
  width: 450px;
  object-fit: cover;
  margin-top: 1rem;
}

.btn-banner3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-now,
.learn-more {
  width: 10rem;
  padding: 1.2rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 5px;
  letter-spacing: 0.05rem;
  cursor: pointer;
  margin: 0.5rem 0;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.buy-now {
  text-transform: uppercase;
  background-color: var(--blue-primary);
  border: none;
  color: #ffffff;
}

.learn-more {
  background-color: transparent;
  color: var(--blue-primary);
  border: 2px solid var(--blue-primary);
}

.buy-now:hover {
  background-color: var(--color-secondary);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

.learn-more:hover {
  background-color: var(--color-secondary);
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

/*posts*/
.featured-posts {
  text-align: center;
  margin: 3rem;
  font-weight: 500;
}

.section-title {
  color: var(--blue-primary);
  font-size: 14px;
}

.main-title {
  color: var(--text-color);
  font-size: 2.5rem;
  margin: 1rem;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-item {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.badge {
  background-color: var(--color-alert2);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 0.5rem;
  margin: 1rem;
  position: absolute;
  border-radius: 3px;
}

.post-item img {
  width: 100%;
  height: auto;
}

.post-content {
  padding: 0.8rem;
  text-align: left;
}

.post-tags {
  font-size: 12px;
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.post-tags li:first-child {
  color: var(--blue-primary);
}

.post-title {
  font-size: 1.3rem;
  margin: 1rem 0;
  color: var(--text-color);
}

.post-description {
  font-size: 0.9rem;
  margin: 1rem 0;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-top: 10px;
}

.svg-clock {
  color: var(--blue-primary);
}

.svg-graph {
  color: var(--color-secondary);
}

.posts a {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  text-decoration: none;
}

.posts a svg {
  color: var(--blue-primary);
  font-size: 2rem;
}

/*footer*/
.logo-footer {
  margin-bottom: 1.5rem;
  background-color: var(--background-color);
  padding: 3rem 2rem;
}

.logo-footer h1 {
  color: var(--text-color);
  font-size: 1.5rem;
}

.logos {
  margin-top: 1rem;
}

.logos svg {
  font-size: 1.9rem;
  margin-right: 0.9rem;
  color: var(--blue-primary);
  cursor: pointer;
}

.footer-columns {
  padding: 1.5rem 0;
  margin-inline-start: 2rem;
}

.footer-columns>div {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.footer-columns h4 {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.footer-columns ul {
  list-style: none;
  padding: 0;
}

.footer-columns ul li {
  margin-bottom: 1rem;
}

.footer-columns ul li a {
  text-decoration: none;
  font-size: 0.9rem;
}

.get-in-touch form {
  display: flex;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 0.5rem;
  max-width: 335px;
}

.get-in-touch input {
  background-color: var(--background-color);
  padding: 1.2rem 1.5rem;
  border: none;
  font-size: 0.9rem;
  outline: none;
  font-family: var(--font-primary);
  font-weight: 600;
}

.get-in-touch button {
  font-family: var(--font-primary);
  font-weight: 600;
  background-color: var(--blue-primary);
  color: #ffffff;
  padding: 1.3rem 1rem;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

/*texto final do footer */
.final {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 1.5rem;
  background-color: var(--background-color);
  padding: 2.5rem;
}

/*ajustes para desktop*/
@media (min-width: 768px) {

  body {
    font-size: 1rem;
  }

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-color);
    color: #ffffff;
    font-weight: bold;
    padding: 0.5em 1em;
    font-size: 0.9em;
  }

  .top-bar p {
    margin: 0 1em;
  }

  .top-bar svg {
    margin-right: 0.5em;
    vertical-align: middle;
    fill: #ffffff;
  }

  .top-bar .social-icons {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }

  .top-bar .social-icons svg {
    width: 1.5em;
    height: 1.5em;
  }

  .menu-mobile {
    display: none;
  }

  /*menu principal */
  .menu-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1.5rem;
    background-color: #ffffff;
  }

  .desktop-nav ul {
    display: flex;
    align-items: start;
    gap: 1.5rem;
    list-style: none;
  }

  .menu-icons-dk {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-right: 2rem;
  }

  .menu-icons-dk button,
  .menu-icons-dk a.login-link {
    color: var(--blue-primary);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
  }

  .menu-icons-dk svg {
    width: 1.4em;
    height: 1.4em;
  }

  /*banner/carrossel*/
  .banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner-content {
    position: relative;
    text-align: left;
    color: #ffffff;
    margin: 0 auto;
  }

  .text-banner {
    padding: 1rem 8rem 2rem 1rem;
    margin-right: 35%;
    text-align: start;
  }

  #btn-ant {
    left: 1rem;
  }
  
  #btn-next {
    right: 1rem;
  }

  /*categorias*/
  .editors-pick {
    text-align: center;
    padding: 2em 1em;
    max-width: 1200px;
    margin: 0 auto;
  }

  .pick-categories {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 1.8em;
  }

  .category img {
    width: 100%;
    height: auto;
    display: block;
  }

  /*organizar as imagens menores a direita*/
  .pick-categories .category:nth-child(3),
  .pick-categories .category:nth-child(4) {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
  }

  /*produtos*/
  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.8em;
    padding: 2rem 10rem;
  }

  .product-item {
    padding: 2rem 1rem;
    transition: transform 0.5s ease;
  }

  .product-item:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .product-item img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  /*banner 3*/
  .banner3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 20rem;
    gap: 2rem;
    overflow: hidden;
  }

  .banner3 img {
    width: 50%;
    object-fit: cover;
  }

  .banner3-content {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    align-items: start;
    padding: 0;
  }

  .banner3 h2 {
    text-align: start;
    margin: 1.5rem 0;
    margin-right: 5rem;
    padding: 0;
  }

  .banner3 p {
    text-align: start;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    font-weight: 550;
  }

  .btn-banner3 {
    display: inline;
    gap: 1rem;
  }

  .buy-now {
    text-transform: uppercase;
    background-color: var(--color-secondary-button);
    border: none;
    color: #ffffff;
  }

  .learn-more {
    text-transform: uppercase;
    background-color: transparent;
    color: var(--color-secondary-button);
    border: 2px solid var(--color-secondary-button);
  }

  /*posts*/
  .featured-posts {
    display: inline;
    text-align: center;
    font-weight: 500;
  }

  .featured-posts h4:first-child {
    margin-top: 10rem;
  }

  .posts {
    margin: 5rem 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .post-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
  }

  .post-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
  }

  .post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .post-item:hover {
    transform: scale(1.02);
  }

  /*footer*/
  .logos {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin: 0;
  }

  .footer-columns {
    margin: 6rem;
    display: flex;
    justify-content: space-around;
  }

  .footer-columns>div {
    flex: 1;
    margin: 0 1rem;
  }

}